<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body class="container">
		<header>
			<div class="Wlogo">
				<img src="{{ asset('assets/img/logo.png') }}">
			</div>
			<h1>Saveurs Collectives</h1>
			<nav>
				<ul>
					<li><a href="{{ path ('home') }}">Page d'accueil</a></li>
					<li><a href="{{ path ('categories') }}">Liste des catégories</a></li>
					<li><a href="{{ path ('products') }}">Liste des produits</a></li>
					<li><a href="{{ path ('admin-home') }}">Espace Personnel</a></li>

				</ul>

			</nav>

		</header>


		{% block main %}{% endblock main %}

		{% include 'guest/partials/_footer.html.twig' %}
	</body>
</html>
