<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">
		<title></title>
	</head>
	<body class="container">
		<header>
			<h1>Espace Administrateur</h1>
			<nav>
				<ul>
					<li><a href="{{ path ('admin-home') }}">Page d'accueil</a></li>
					<li><a href="{{ path ('admin-list-products') }}">Liste des produits</a></li>

					<li><a href="{{ path ('admin-create-product') }}">Créer des produits</a></li>
					<li><a href="{{ path ('admin-create-user') }}">Créer un admin</a></li>
					<li><a href="{{ path ('admin-display-users') }}">Lists des admins</a></li>
					<li><a href="{{path('logout')}}">Se déconnecter</a></li>
				</ul>
			</nav>
			{% if app.user %}
				<p>Connecté en tant que :
					<strong>{{ app.user.email}}</strong>
				</p>
			{% else %}
				<p>Vous n'êtes pas connecté.</p>
			{% endif %}


		</header>


		{# Affichage des messages d'erreur #}
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">{{ message }}</div>
		{% endfor %}

		{# Affichage des messages de succès #}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}

		{% block main %}{% endblock %}

	</body>
</html>
