{% extends "guest/base.html.twig" %}

{% block title %}Liste des produits
{% endblock %}

{% block main %}
	<main>
		<h2>Liste des produits</h2>
		<table border="1">

			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Price</th>
				<th>Category</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>Actions</th>
			</tr>

			{% for product in products %}
				<tr>
					<td>{{product.id}}</td>
					<td>{{product.title}}</td>
					<td>{{product.price}}</td>
					<td>{{product.category.title}}</td>
					<td>{{product.createdAt | date ('d-m-Y')}}</td>
					<td>{{product.updatedAt | date ('d-m-Y')}}</td>
					<td>
						<a href="{{path('admin-delete-product', {'id' : product.id})}}">Supprimer</a>
						<a href="{{path('admin-update-product', {'id' : product.id})}}">Modifier</a>
					</td>


				</tr>
			{% endfor %}

		</table>
	</main>
{% endblock main %}
